@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=auto');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    width: 100%;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: black;
    font-family: 'Jost', sans-serif;
    background-color: white;
    overflow: hidden;
}

button {
    width: 100%;
    height: 64px;
    margin: 12px 0;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    font-family: 'Jost', sans-serif;
    font-weight: lighter;
    color: black;
    background-color: #f4f4f4;
    cursor: pointer;
    transition: all 0.2s;
}

button:hover {
    background-color: #e0e0e0;
}

button.red {
    color: white;
    background-color: #e74c3c;
}

button.red:hover {
    background-color: #c0392b;
}

button.orange {
    color: white;
    background-color: #e67e22;
}

button.orange:hover {
    background-color: #d35400;
}

button.yellow {
    color: white;
    background-color: #f1c40f;
}

button.yellow:hover {
    background-color: #f39c12;
}

button.blue {
    color: white;
    background-color: #3498db;
}

button.blue:hover {
    background-color: #2980b9;
}

button.cyan {
    color: white;
    background-color: #1abc9c;
}

button.cyan:hover {
    background-color: #16a085;
}

button.purple {
    color: white;
    background-color: #9b59b6;
}

button.purple:hover {
    background-color: #8e44ad;
}

button.green {
    color: white;
    background-color: #41aa46;
}

button.green:hover {
    background-color: #328b36;
}

button.error {
    color: white !important;
    background-color: #e74c3c !important;
}

button.error:hover {
    background-color: #c0392b !important;
}

a {
    width: 100%;
    height: 64px;
    margin: 12px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    font-weight: lighter;
    text-decoration: none;
    background-color: #f4f4f4;
    transition: all 0.2s;
}

a:hover {
    background-color: #e0e0e0;
}

h1 {
    padding: 24px 36px;
    font-size: 2rem;
    font-weight: lighter;
}

h2 {
    padding: 0 36px;
    font-size: 1.5rem;
    font-weight: lighter;
}

aside {
    position: relative;
    width: 360px;
    padding: 24px 36px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: #34495e;
}

aside nav {
    position: relative;
    width: 100%;
}

aside a,
aside button {
    color: white;
    background-color: transparent;
}

aside a:hover,
aside button:hover,
aside a.this-page {
    background-color: #2c3e50;
}

main {
    position: relative;
    width: calc(100% - 360px);
    height: 100%;
    padding: 24px 12px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.4s;
}

main.hide {
    display: none;
}

main.home {
    align-items: center;
    justify-content: center;
}

main.home h2 {
    word-break: break-all;
}

main.profile {
    align-items: center;
    justify-content: flex-start;
}

main h1 {
    padding: 12px;
}

main img.avatar {
    width: 300px;
    height: 300px;
    margin: 24px;
    border-radius: 300px;
    box-shadow: 0 0 24px #f0f0f0;
    object-fit: cover;
    object-position: center;
}

main .top-bar {
    position: relative;
    width: 100%;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    position: relative;
    width: 100%;
    max-width: 900px;
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form fieldset {
    position: relative;
    width: 100%;
    margin-bottom: 24px;
    padding: 24px 18px;
    border: solid 1px #e0e0e0;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

fieldset legend {
    padding: 18px;
    font-size: 1.5rem;
    line-height: 3rem;
    font-weight: lighter;
}

fieldset .email-info {
    padding: 0 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

fieldset p {
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: lighter;
}

fieldset p.big {
    font-size: 2rem;
    line-height: 3rem;
}

fieldset p.small {
    font-size: 1.25rem;
    line-height: 2rem;
}

fieldset .field {
    position: relative;
    width: 100%;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

fieldset .field > div {
    position: relative;
    width: calc(50% - 36px);
    min-width: 280px;
    margin: 0 18px;
}

fieldset .avatar-tips {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

fieldset .avatar-preview {
    position: relative;
    width: calc(100% - 72px);
    margin: 36px;
    border-radius: 100%;
    border: solid 1px #e0e0e0;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}

fieldset:disabled .field::after {
    content: '验证邮箱后可修改';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: lighter;
    background-color: rgba(255, 255, 255, 0.6);
}

fieldset:disabled .avatar-preview {
    cursor: not-allowed;
}

label {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    font-weight: lighter;
    cursor: pointer;
}

label:hover .upload {
    color: black;
}

label .upload {
    position: absolute;
    left: 0;
    top: 28.8px;
    width: 100%;
    height: 64px;
    border: solid 1px #e0e0e0;
    color: #757575;
    background-color: white;
    transition: all 0.2s;
}

input,
textarea {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 64px;
    margin: 12px 0;
    padding: 0 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #e0e0e0;
    border-radius: 2px;
    font-size: 1.5rem;
    font-family: 'Jost', sans-serif;
    font-weight: lighter;
    background-color: #f4f4f4;
}

input:disabled,
textarea:disabled {
    color: gray;
    cursor: not-allowed;
}

textarea {
    height: 232px;
    padding: 18px;
    resize: vertical;
}

span.strong {
    font-weight: bold;
}

.window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
}

.window.hide {
    display: none;
}

.window form {
    position: relative;
    width: 100%;
    max-width: 450px;
    padding: 24px 36px;
    border-radius: 2px;
    background-color: white;
}

.window div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.window div button {
    width: calc(50% - 12px);
}

.window p {
    margin: 24px 0 36px 0;
    font-size: 1.5rem;
    font-weight: lighter;
}

.window .close {
    position: absolute;
    top: -12px;
    right: -72px;
    width: 64px;
    height: 64px;
    border-radius: 2px;
    color: transparent;
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='%23FFFFFF' aria-hidden='true'%3E%3Cpath d='M24 9.4L22.6 8 16 14.6 9.4 8 8 9.4l6.6 6.6L8 22.6 9.4 24l6.6-6.6 6.6 6.6 1.4-1.4-6.6-6.6L24 9.4z'/%3E%3C/svg%3E");
    background-size: 36px;
    background-repeat: no-repeat;
    background-position: center;
}

.loading {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px;
    visibility: visible;
    opacity: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 2rem;
    font-weight: lighter;
    background-color: white;
    transition: all 0.4s;
}

.loading.hide {
    visibility: hidden;
    opacity: 0;
}

button.hide {
    display: none;
}

button:disabled {
    cursor: not-allowed;
}

input:focus ~ .tips,
textarea:focus ~ .tips {
    opacity: 1;
    visibility: visible;
}

input ~ .tips,
textarea ~ .tips {
    position: absolute;
    top: -180px;
    left: 0;
    z-index: 100;
    width: 400px;
    max-width: 100%;
    padding: 18px 24px;
    opacity: 0;
    visibility: hidden;
    border-radius: 2px;
    font-size: 1.25rem;
    line-height: 2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(4px);
    transition: all 0.2s;
}

.tips p {
    font-size: 1.25rem;
    line-height: 2rem;
}

input ~ .tips ul,
textarea ~ .tips ul {
    padding-left: 24px;
    list-style-type: circle;
}

@media screen and (max-width: 1200px) {
    aside {
        width: 200px;
    }

    main {
        width: calc(100% - 200px);
    }
}

@media screen and (max-width: 1000px) {
    aside {
        width: 120px;
        padding: 12px 24px;
    }

    aside h1 {
        font-size: 1.75rem;
    }

    aside a,
    aside button {
        width: 72px;
        height: 72px;
        color: transparent;
        background-size: 36px;
        background-repeat: no-repeat;
        background-position: center;
    }

    aside .home {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='%23FFFFFF' aria-hidden='true'%3E%3Cpath d='M16.61 2.21a1 1 0 0 0-1.24 0L1 13.42 2.24 15 4 13.62V26a2 2 0 0 0 2 2h20a2 2 0 0 0 2-2V13.63L29.76 15 31 13.43zM18 26h-4v-8h4zm2 0v-8a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v8H6V12.06l10-7.79 10 7.8V26z'/%3E%3C/svg%3E");
    }

    aside .profile {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='%23FFFFFF' aria-hidden='true'%3E%3Cpath d='M16 2a14 14 0 1 0 14 14A14 14 0 0 0 16 2zm-6 24.38v-2A3.22 3.22 0 0 1 13 21h6a3.22 3.22 0 0 1 3 3.39v2a11.92 11.92 0 0 1-12 0zm14-1.46v-.61A5.21 5.21 0 0 0 19 19h-6a5.2 5.2 0 0 0-5 5.31v.59a12 12 0 1 1 16 0z'/%3E%3Cpath d='M16 7a5 5 0 1 0 5 5 5 5 0 0 0-5-5zm0 8a3 3 0 1 1 3-3 3 3 0 0 1-3 3z'/%3E%3C/svg%3E");
    }

    aside .signout {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='%23FFFFFF' aria-hidden='true'%3E%3Cpath d='M6 30h12a2.002 2.002 0 0 0 2-2v-3h-2v3H6V4h12v3h2V4a2.002 2.002 0 0 0-2-2H6a2.002 2.002 0 0 0-2 2v24a2.002 2.002 0 0 0 2 2z'/%3E%3Cpath d='M20.586 20.586L24.172 17H10v-2h14.172l-3.586-3.586L22 10l6 6-6 6-1.414-1.414z'/%3E%3C/svg%3E");
    }

    main {
        width: calc(100% - 120px);
    }
}

@media screen and (max-width: 860px) {
    .container {
        width: 100%;
        height: auto;
        flex-direction: column;
        justify-content: flex-start;
        overflow-x: hidden;
        overflow-y: auto;
    }

    aside {
        width: 100%;
        height: 72px;
        padding: 12px;
        flex-direction: row;
        justify-content: flex-start;
    }

    aside h1 {
        font-size: 1.5rem;
        padding: 12px;
    }

    aside a,
    aside button {
        width: 48px;
        height: 48px;
        background-size: 24px;
        overflow: hidden;
    }

    aside nav {
        width: auto;
        display: flex;
        flex-direction: row;
    }

    main {
        width: 100%;
        height: auto;
        min-height: calc(100vh - 72px);
        padding: 48px 12px;
        overflow-y: initial;
    }

    form {
        padding: 0;
    }

    form fieldset {
        padding: 12px;
    }

    fieldset legend {
        padding: 12px;
    }

    fieldset .field {
        padding: 0 12px;
    }

    fieldset .field > div {
        width: 100%;
        margin: 0;
    }

    fieldset .field > div:last-child {
        margin-top: 24px;
    }

    fieldset .field p {
        margin: 8px 0;
    }

    form button {
        width: 100%;
    }

    .window form {
        padding: 12px 24px;
    }
}
