@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=auto');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    width: 100%;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: black;
    font-family: 'Jost', sans-serif;
    background-color: white;
    overflow: hidden;
}

.container::before,
.container::after {
    content: '';
    display: block;
}

h1 {
    width: 400px;
    max-width: 100%;
    text-align: center;
    font-size: 4rem;
    font-weight: lighter;
}

h2 {
    width: 400px;
    max-width: 100%;
    padding: 8px;
    text-align: center;
    font-size: 2rem;
    font-weight: lighter;
}

h3 {
    width: 400px;
    max-width: 100%;
    padding: 8px;
    text-align: center;
    font-size: 1.5rem;
    word-break: break-all;
    font-weight: lighter;
}

nav {
    width: 400px;
    max-width: 100%;
    padding: 48px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a {
    width: 100%;
    height: 64px;
    margin: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    font-weight: lighter;
    text-decoration: none;
    background-color: #f4f4f4;
    transition: all 0.2s;
}

a:hover {
    background-color: #e0e0e0;
}

form {
    position: relative;
    width: 400px;
    max-width: 100%;
    padding: 48px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    font-weight: lighter;
}

input {
    position: relative;
    width: 100%;
    height: 64px;
    margin: 12px 0;
    padding: 0 18px;
    border: solid 1px #e0e0e0;
    border-radius: 2px;
    font-size: 1.5rem;
    font-family: 'Jost', sans-serif;
    font-weight: lighter;
    background-color: #f4f4f4;
}

input.captcha {
    width: 50%;
}

input.captcha:disabled,
input.captcha:disabled + .captcha-text {
    cursor: not-allowed;
}

.captcha-text {
    position: absolute;
    right: 0;
    bottom: 12px;
    width: 50%;
    height: 64px;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
}

.register-password {
    z-index: 10;
}

input:focus ~ .tips {
    opacity: 1;
    visibility: visible;
}

button {
    width: 100%;
    height: 64px;
    margin: 12px;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    font-family: 'Jost', sans-serif;
    font-weight: lighter;
    background-color: #f4f4f4;
    cursor: pointer;
    transition: all 0.2s;
}

button:hover {
    background-color: #e0e0e0;
}

button:disabled {
    cursor: not-allowed;
}

.login {
    color: white;
    background-color: #2ecc71;
}

.login:hover {
    background-color: #27ae60;
}

.register {
    color: white;
    background-color: #3498db;
}

.register:hover {
    background-color: #2980b9;
}

button.error,
button.error:hover {
    background-color: #e74c3c;
}

.tips {
    position: absolute;
    top: 8px;
    left: -380px;
    z-index: 100;
    width: 400px;
    max-width: 100%;
    padding: 18px 24px;
    opacity: 0;
    visibility: hidden;
    border-radius: 2px;
    font-size: 1.25rem;
    line-height: 2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 0.2s;
}

.tips::after {
    content: '';
    position: absolute;
    right: -16px;
    top: 48px;
    z-index: 100;
    width: 0;
    height: 0;
    border-left: solid 16px rgba(0, 0, 0, 0.8);
    border-top: solid 16px transparent;
    border-bottom: solid 16px transparent;
}

.tips ul {
    padding-left: 24px;
}

span.error {
    position: absolute;
    top: 0;
    right: 0;
}

span.error::before {
    content: '❌ ';
}

span.error:empty {
    content: '';
    display: none;
}

.hide {
    display: none;
}

@media screen and (max-width: 800px) {
    .container {
        height: auto;
        flex-direction: column;
        justify-content: flex-start;
        overflow-x: hidden;
        overflow-y: auto;
    }

    h1 {
        margin-top: 96px;
    }

    h2 {
        margin-bottom: 48px;
    }

    .tips {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        border-radius: 0;
    }

    .tips::after {
        content: '';
        visibility: hidden;
    }
}
